:root {
  --yellow: #fbffa7;
  --orange: #ff764d;
  --light-blue: #b1c5ff;
  --purple: #d5b3ff;
  --green: #b6ffc0;
  --blue: #0000ff:
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.body {
  font-family: 'Roboto', sans-serif;;
  font-size: 1.8rem;
}
